<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap" rel="stylesheet">
	<title>Best Movies List</title>
</head>
<body>
	<h1>2012 Sight and Sound Top 100</h1>
	<div class="list">
		<ol>
	{% for movie in movie_list: %}
	<div class="item">
		<li class="movie">
			<img src={{ movie['img_url'] }} alt="poster">
			<div class="info">
				<div class="movie_header">
					<h2>{{movie['num']}}. <a href={{ movie['movie_url'] }}>{{ movie["title"] }} ({{ movie["year"] }})</a></h2>
					<h4>{{movie["runtime"]}}</h4>
				</div>
				
				<p>{{movie["director"]}}, 
					{% if movie["country"] == "United States of America": %}
					US
					{% else: %}
					{{ movie['country']}}</p>
					{% endif%}
				<p>{{movie["synopsis"]}}</p>
				{% if movie["budget"] != 0: %}
				<p>Budget: {{movie["budget"]}}</p>
				{% endif%}
				{% if movie["tagline"][0] != '"' and movie["tagline"]: %}
				<p>"{{ movie['tagline']}}"</p>
				{% else: %}
				<p>{{ movie['tagline']}}</p>
				{% endif%}


			</div>

		</li>
	</div>
	{% endfor %}
		</ol>
	</div>
	
</body>
</html>